---
import { getTranslations, type Language } from '../../i18n';

interface Props {
    lang?: Language;
}

const { lang = 'es' } = Astro.props;
const t = getTranslations(lang);
const currentYear = new Date().getFullYear();
---

<footer class="bg-white pt-20 pb-10 border-t border-slate-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-12 mb-16">
            <div class="col-span-2">
                <div class="flex items-center gap-2 mb-6">
                    <img
                        alt="Lumi Logo"
                        class="h-8 w-8"
                        src="/Estrela_D9625E.png"
                    />
                    <span class="text-3xl font-extrabold tracking-tight text-[#D9625E]"
                        >Lumi</span
                    >
                </div>
                <p class="text-slate-500 max-w-sm mb-8">
                    {t.home.footer.slogan}
                </p>
                <div class="flex gap-4">
                    <a
                        class="w-10 h-10 bg-white rounded-full flex items-center justify-center  hover:border-lumi-coral text-slate-400 hover:text-lumi-coral transition-all"
                        href="https://www.tiktok.com/es-419/"><img src="/tiktok-brands-solid.png" alt="tiktok-logo" class="w-8 h-8"></a

                    >
                    <a
                        class="w-10 h-10 bg-white rounded-full flex items-center justify-center  hover:border-lumi-coral text-slate-400 hover:text-lumi-coral transition-all"
                        href="https://www.instagram.com"><img src="/instagram-brands-solid.png" alt="instagram-logo" class="w-9 h-9"></a
                    >
                </div>
            </div>
            <div>
                <h4 class="font-bold mb-6">{t.home.footer.company}</h4>
                <ul class="space-y-4 text-slate-500">
                    <li>
                        <a class="hover:text-lumi-coral" href="#"
                            >{t.home.footer.aboutUs}</a>
                    </li>
                    <li>
                        <a class="hover:text-lumi-coral" href="#">{t.home.footer.contact}</a>
                    </li>
                    <li>
                        <a class="hover:text-lumi-coral" href={`/${lang}/polices/terms-of-use`}>{t.home.footer.privacy}</a>
                    </li>
                    <li>
                        <a class="hover:text-lumi-coral" href="#">{t.home.footer.terms}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="border-t border-slate-200 pt-8 flex flex-col md:row justify-between items-center text-sm text-slate-400"
        >
            <p>&copy; {currentYear} {t.home.footer.copyright}</p>
        </div>
    </div>
</footer>

<style>
    footer {
        flex-shrink: 0;
    }
</style>
